<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--left">
						<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
							<div class="m-stack__item">
								<a href="#" class="btn m-btn m-btn--icon" data-dismiss="modal">
									<i class="la la-times"></i>
								</a>
							</div>
							<div class="m-stack__item" style="width: 10%;">
								<!--Space-->
							</div>
							<div class="m-stack__item m-stack__item--left m-stack__item--middle">
								<h5 class="modal-title">
									Tag Manager
								</h5>
							</div>
						</div>
					</div>
					<div class="m-stack__item m-stack__item--right">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
							<a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--icon">
								<i class="la la-ellipsis-h"></i>
							</a>
							<div class="m-dropdown__wrapper" style="z-index: 101;">
								<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 29.5px;"></span>
								<div class="m-dropdown__inner">
									<div class="m-dropdown__body">
										<div class="m-dropdown__content">
											<ul class="m-nav">
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-share"></i>
														<span class="m-nav__link-text">Activity</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-chat-1"></i>
														<span class="m-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-info"></i>
														<span class="m-nav__link-text">FAQ</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-lifebuoy"></i>
														<span class="m-nav__link-text">Support</span>
													</a>
												</li>
												<li class="m-nav__separator m-nav__separator--fit">
												</li>
												<li class="m-nav__item">
													<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Hide</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--left m-stack__item--middle">
						<img src="<%= @post.image_url%>" style="height: 50vh">	
					</div>
					<div class="m-stack__item" style="width: 10vw;">
						<!--Space-->
					</div>
					<div class="m-stack__item">
						<div class="m-list-search">
							<div class="m-list-search__results">
								<div class="m-list-search__results">
									<span class="m-list-search__result-category">
										Products
									</span>
									<% @products.each do |product| %>
									<a href="#" class="m-list-search__result-item">
										<% product.images.each do |image| %>
										<span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="<%= image.src %>" title=""></span>
										<% end %>
										<span class="m-list-search__result-item-text"> <%= product.title %> </span>
									</a>
									<%= link_to 'Tag this product', tag_product_path(@post, :image => "#{product.images[0].src}" ) , method: :post, remote: true %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--left">
						<div class="m-list-pics m-list-pics--rounded">
                            <a href="#"><img id="post_product_no_1" src="<%= @post.product1_url %>" title="" style="width: 6vw; min-width: 40px"></a>
                            <a href="#"><img id="post_product_no_2" src="<%= @post.product2_url %>" title="" style="width: 6vw; min-width: 40px"></a>
                            <a href="#"><img id="post_product_no_3" src="<%= @post.product3_url %>" title="" style="width: 6vw; min-width: 40px"></a>
                            <a href="#"><img id="post_product_no_4" src="<%= @post.product4_url %>" title="" style="width: 6vw; min-width: 40px"></a>
                            <a href="#"><img id="post_product_no_5" src="<%= @post.product5_url %>" title="" style="width: 6vw; min-width: 40px"></a>
                        </div>
					</div>
					<div class="m-stack__item m-stack__item--bottom m-stack__item--right" style="width: 20vw">
						<button type="button" class="btn btn-lg btn-primary">Share</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>