<div class="modal fade" id="m_modal_1_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--left">
						<div class="m-stack m-stack--ver m-stack--general m-stack--inline">
							<div class="m-stack__item">
								<a href="#" class="btn m-btn m-btn--icon" data-dismiss="modal">
									<i class="la la-times"></i>
								</a>
							</div>
							<div class="m-stack__item" style="width: 10%;">
								<!--Space-->
							</div>
							<div class="m-stack__item m-stack__item--left m-stack__item--middle">
								<h5 class="modal-title">
									Tag Manager
								</h5>
							</div>
						</div>
					</div>
					<div class="m-stack__item m-stack__item--right">
						<div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="click" aria-expanded="true">
							<a href="#" class="m-portlet__nav-link m-dropdown__toggle btn m-btn m-btn--icon">
								<i class="la la-ellipsis-h"></i>
							</a>
							<div class="m-dropdown__wrapper" style="z-index: 101;">
								<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 29.5px;"></span>
								<div class="m-dropdown__inner">
									<div class="m-dropdown__body">
										<div class="m-dropdown__content">
											<ul class="m-nav">
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-share"></i>
														<span class="m-nav__link-text">Activity</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-chat-1"></i>
														<span class="m-nav__link-text">Messages</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-info"></i>
														<span class="m-nav__link-text">FAQ</span>
													</a>
												</li>
												<li class="m-nav__item">
													<a href="" class="m-nav__link">
														<i class="m-nav__link-icon flaticon-lifebuoy"></i>
														<span class="m-nav__link-text">Support</span>
													</a>
												</li>
												<li class="m-nav__separator m-nav__separator--fit">
												</li>
												<li class="m-nav__item">
													<a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Hide</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--left m-stack__item--middle">
						<img src="<%= post.image_url%>" style="height: 50vh">	
					</div>
					<div class="m-stack__item" style="width: 10vw;">
						<!--Space-->
					</div>
					<div class="m-stack__item">
							<div class="m-list-search">
								<div class="m-list-search__results">
									<div class="m-list-search__results">
										<span class="m-list-search__result-category">
											Products
										</span>
										<div style="overflow-y: scroll; height:260px;">
											<% @products.each do |product| %>
											<a href="#" class="m-list-search__result-item">
												<% product.images.each do |image| %>
												<span class="m-list-search__result-item-pic"><img class="m--img-rounded" src="<%= image.src %>" title=""></span>
												<% end %>
												<span class="m-list-search__result-item-text"> <%= product.title %> </span>
											</a>
											<%= link_to 'Tag this product', "/a/account/posts/#{post.id}/tag_product?" + {:image => "#{product.images[0].src}"}.to_param, method: :post, remote: true %>
											<% end %>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--left">
						<div class="m-list-pics m-list-pics--rounded">
							<div class="container-fluid">
								<div class="row">
									<% 1.upto(5) do |i|%>
										<% product_url_tagged = "product#{i}_url_tagged" %>
										<% post_product_url_tagged = [post.product1_url,post.product2_url,post.product3_url,post.product4_url,post.product5_url] %>
										<% post_product_url = [{product1_url: nil},{product2_url: nil},{product3_url: nil},{product4_url: nil},{product5_url: nil}] %>
										<div class="col-md-2 col-md-offset-1"><a href="#"><img id="<%= product_url_tagged %>" src="<%= post_product_url_tagged[i-1]  %>" title="" style="width: 40px; min-width: 40px"></a><br>
										<% if post_product_url_tagged[i-1].present? %>
										<%= link_to 'Untag  product', "/a/account/posts/#{post.id}/untag", data: {method: :patch, remote: true, params: post_product_url[i-1].to_param}, id: "link_to_untag_product#{i}_url" %><br>
										<%end%>
										</div>


									<%end%>
								</div>
							</div>
                        </div>
					</div>
					<div class="m-stack__item m-stack__item--bottom m-stack__item--right" style="width: 20vw">
						<%= link_to 'Publish', "/a/account/posts/#{post.id}/publish", data: {method: :patch, remote: true, params: {published: true}.to_param} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>